# Window Functions

## Rank Functions - I

Most Available Products
Description
Given a table named products with the following columns.







Write a query to retrieve the ranks of the products in decreasing order of their quantities in stock.

ans:
    
use upgrad;

select quantityInStock,
rank() over (order by quantityInStock desc) as quantityRank
from products;

## Rank Functions - II

Rank Functions
Which of the following is not a rank function in MySQL Workbench?


RANK()


DENSE_RANK()


PRECEDING_RANK()   ✓ Correct

Movie Ranks
Given below is a table containing the top 10 movies according to their IMDb ratings.

Find the values (A, B).


(5, 6)


(5, 9)   ✓ Correct

## Partitioning

Window Functions
Which of the following statements is true for window functions? More than one option may be correct.


They compute a value for each and every row in the window.    ✓ Correct

They reduce the result set based on the aggregation.

They require the 'over' clause.   ✓ Correct

Window partitions can be defined to form groups of rows.    ✓ Correct

Individual and Total Order Amounts
Description
Given a table named orderdetails with the following columns

ans:
    
use upgrad;

select orderNumber, quantityOrdered * priceEach as individualOrderAmount,
sum(quantityOrdered * priceEach) over (partition by orderNumber) as totalOrderAmount
from orderdetails
order by orderNumber, individualOrderAmount desc;

## Named Windows

Using Named Windows
Rewrite the following query using a named window:

ans:
        
SELECT *,
RANK() OVER w 'Rank',
DENSE_RANK() OVER w 'Dense Rank',
PERCENT_RANK() OVER w 'Percent Rank'
FROM shipping_dimen
WINDOW w AS (
  PARTITION BY ship_mode
  ORDER BY COUNT(*)
);

## Frames - I

Kohli - The Batting Behemoth
The table given below contains the runs scored by Virat Kohli over the time period 2015-2019. It also contains the moving averages of the runs (rounded to the nearest integer) calculated using the 'unbounded preceding' keywords in SQL. Identify the year that contains the incorrect value for the moving average.

2016


2017


2018    ✓ Correct

Kohli in ODIs
Description
The table given below contains the number of runs scored by Virat Kohli over the time period 2008-2019. Add another column which displays the 5-year moving average of the number of runs scored.

ans:
    
use upgrad;

select *, avg(runs) over (order by year rows 4 preceding) '5 Year Moving Average'
from kohli_batting;

## Frames - II

Defining Frames - 1
Consider the example given in the video.



What is the range of rows that will be selected if you write the following frame clause? (Assume that the current row is Row 6)

ORDER BY X ROWS 4 FOLLOWING

ans:
    
Row 6 to Row 9


Row 7 to Row 10    ✓ Correct

Defining Frames - 2
Consider the example given in the video.



What is the range of rows that will be selected if you write the following frame clause? (Assume that the current row is Row 6)

ORDER BY X ROWS
BETWEEN 2 PRECEDING AND 3 FOLLOWING

ans:
    
Row 3 to Row 8


Row 4 to Row 8


Row 4 to Row 9   ✓ Correct

Defining Frames - 3
Consider the example given in the video.


What is the range of rows that will be selected if you write the following frame clause? (Assume that the current row is Row 6)

ORDER BY X DESC ROWS
BETWEEN UNBOUNDED PRECEDING AND 2 FOLLOWING


ans:
    
Row 1 to Row 8


Row 4 to Row 11    ✓ Correct

# Case Statements, Stored Routines and Cursors

## Case Statements - I

Case Statement
Which of the following describes a case statement?


It is a way to establish a loop in SQL.


It is a way to establish an IF-THEN-ELSE in SQL.   ✓ Correct

Case Statement Output
Consider a table named 'marks', which has nine columns, as shown below:

name: Name of the student

semester_1: Average marks in the first semester

semester_2: Average marks in the second semester

semester_3: Average marks in the third semester

semester_4: Average marks in the fourth semester

semester_5: Average marks in the fifth semester

semester_6: Average marks in the sixth semester

semester_7: Average marks in the seventh semester

semester_8: Average marks in the eighth semester

 

What will be the output of the SQL query mentioned below?

SELECT name, 
( CASE
  WHEN semester_1 > semester_2 THEN 'Sem 1'
  ELSE 'Sem 2'
END) AS 'Sem 1/2'
FROM marks;
 


The names of the students and the semester out of 1 and 2 in which a student scored more marks    ✓ Correct

## Case Statements - II

Tax Slabs - 2
Description
Below is the table for calculating income tax rates for the income tax slabs in India.



Tax Rates

﻿



Here are the annual salary details (in lakhs per annum) of 10 employees working at Google Hyderabad office.

Add another column to output the income tax to be paid by each employee. Make sure to round off the tax amounts to the nearest integer. Also, display the tax amount as 0 if the annual salary is less than or equal to 2.5 lakhs per annum.



Note: Consider the name of the column having the salaries as 'salary'.


ans:
    
use upgrad;

select *,
round(case
when salary <= 2.5 
then 0
when salary > 2.5 and salary <= 5 
then 0.05 * (salary - 2.5) * pow(10,5)
when salary > 5 and salary <= 10 
then (0.125 + 0.2 * (salary - 5)) * pow(10,5)
when salary > 10 
then (1.125 + 0.3 * (salary - 10)) * pow(10,5) end) as 'Tax Amounts'
from salaries;

## UDFs

Number of Return Values
How many values can be returned from a given stored function?


0


1    ✓ Correct

The Deterministic Keyword
Stored functions always return the same result for the same input parameters by default.


True


False    ✓ Correct

UDFs vs Case Statements
You learnt how to categorise orders based on the profit or loss incurred. This problem statement was solved using two methods - case statements and UDFs. Are there any advantages of using one method over the other? If so, what are they?

ans:
    
A case statement is preferable if you just need to categorise existing data values based on certain parameters.
A UDF using case statements is preferable if you need to categorise existing as well as incoming data values based on certain parameters.

# Query Optimisation and Best Practices

## Indexing - I

Storage of Indexes
State whether the following statement is true or false:

Indexes require disk space for storage.

True  ✓ Correct

Employee Index
Which of the following does the index for the 'Employee' table contain?


Employee Id and Salary


Employee Id and the location of disk space for the 'Employee' table


Employee Id and the location of disk space for the particular record   ✓ Correct

## Indexing - II

Indices
Which of the following SQL commands works efficiently when you are using indices?


SELECT


FROM

DROP


WHERE    ✓ Correct

DDL
Which of the following DDL statement can be used to explicitly create an index?


CREATE INDEX   ✓ Correct

## Order of Query Execution - I

Order of Query Execution
Arrange the following SQL statements in the correct order in which they are executed by the database engine.

SELECT
DISTINCT
FROM (including joins)
WHERE
GROUP BY
HAVING
Window functions
ORDER BY
LIMIT and OFFSET

1-2-3-4-5-6-7-8-9


1-2-7-3-4-5-6-8-9


3-4-5-6-7-1-2-8-9    ✓ Correct

## Joins vs Nested Queries

Query Processor
What is the role of a query processor in the execution of SQL queries?


It creates indices to optimise the queries.


It implicitly converts queries from one form to another to optimise them.    ✓ Correct

## Profitability Analysis - II

Unwanted Subcategory
Which of the following subcategories reports the heaviest losses?


Tables   ✓ Correct

The Advent of Technology
In the previous video, you saw that all the subcategories in the 'Technology' category are highly profitable. As the CEO, can you think of ways in which you can capitalise on this fact and increase your company's sales?

ans:

You can procure more stock of telephones, fax machines and other similar products to cater to the huge demand. You can also start an advertising campaign to inform your existing and potential customers that these products are popular.

## Profitability Analysis - III

Average Profit per Order
You calculated the average profit per order for each product category. Why do you think this is a useful metric? Write your answer in the space provided below.

ans:
    
Determining the average profit per order helps in estimating the maximum cost that you should incur for each order. This will help ensure that profits are maximised after the required amount of money is spent on delivering each order to the relevant customer.

# Graded Questions - I

Most Productive Month
Description
Write a query to find the month number (Eg: 4 corresponds to April) in which the most number of payments were made.

ans:
    
use upgrad;

Select month(payment_date) as mn, 
count(payment_id) as 
No_of_payments from payment 
group by mn 
order by No_of_payments desc limit 1

In [ ]:
###  2nd question has been wrong please forgive me for that

# Graded Questions - II

Film Category vs. City
Description
Write a query to find the number of occurrences of each film_category in each city. Arrange them in the decreasing order of their category count.

ans:
    
use upgrad;

 SELECT name, city, COUNT(category_id) AS category_count
 FROM category
 INNER JOIN film_category
 USING (category_id)
 INNER JOIN inventory
 USING(film_id)
 INNER JOIN store
 USING (store_id)
 INNER JOIN address
 USING (address_id)
 INNER JOIN city
 USING (city_id)
 GROUP BY name, city
 ORDER BY category_count DESC;

Ad Campaign
Description
Suppose you are running an advertising campaign in Canada for which you need the film_ids and titles of all the films released in Canada. List the films in the alphabetical order of their titles.

ans:
    
use upgrad;

select Film_id, Title
    from film
inner join inventory
    using (film_id)
inner join store
    using (store_id)
inner join address
    using (address_id)
inner join city
    using (city_id)
inner join country
    using (country_id)
where country = 'Canada'
group by film_id, title
order by title;

In [ ]:
###  my third and fourth question rejected please forgive me for that

In [1]:
import jovian

In [2]:
jovian.commit()

[jovian] Committed successfully! https://jovian.ai/ashutoshgole18/module-12-advanced-sql-and-best-practices

'https://jovian.ai/ashutoshgole18/module-12-advanced-sql-and-best-practices'