# Graded Questions - I

Match the Columns
Match the following with the appropriate SQL command.


a-I, b-II, c-III, d-IV


a-IV, b-III, c-II, d-I


a-III, b-I, c-II, d-IV


a-III, b-IV, c-I, d-II    ✓ Correct

String Functions
What will be the output of the following query?

select reverse(substring('Sachin Tendulkar', -7, 3));


ndu


udn    ✓ Correct

Benefits of a Data Warehouse
As an analyst working for a PAN India chain of hospitals, you have to convince the upper management to invest in building a data warehouse architecture. Which of the following is not a good reason in support of a data warehouse?


It will give a holistic view of various departments across hospital branches in different cities and, thus, help in better planning.


A data warehouse will make it easier to enter and update all patient-related information, as all the information would be stored in one place.     ✓ Correct

Facts and Dimensions
Suppose you are an analyst at a bank, and you have a data file with the following six variables:

Withdrawal amount
Account balance after withdrawal
Transaction charge amount
Customer ID
ATM ID
Date of withdrawal
Based on a star schema, how many dimension variables would you need in order to determine the number of withdrawals made in Puducherry by a customer named Rohit Sharma?


At least 3


At least 1


At least 4


At least 2     ✓ Correct

# Graded Questions - II

Busiest Actor
Description
Write a query to find the full name of the actor who has acted in the maximum number of movies.



Sample Output

Full_name

PENELOPE GUINESS

ans:
    
use upgrad;

select concat(First_name, ' ', Last_name) as Full_name
from actor a
inner join film_actor f
using (actor_id)
group by f.actor_id
order by count(f.actor_id) desc
limit 1;

Third most Busy Actor
Description
Write a query to find the full name of the actor who has acted in the third most number of movies.



Sample Output

Actor_name

PENELOPE GUINESS

ans:
    
use upgrad;

select concat(first_name, ' ', last_name) as Actor_name
from actor
inner join film_actor
using (actor_id)
group by actor_name
order by count(film_id) desc
limit 2, 1;

Highest Grossing Film
Description
Write a query to find the film which grossed the highest revenue for the video renting organisation.



Sample Output

title

ACADEMY DINOSAUR

ans:
    
use upgrad;

select Title
from film
inner join inventory
using (film_id)
inner join rental
using (inventory_id)
inner join payment
using (rental_id)
group by title
order by sum(amount) desc
limit 1;

# Graded Questions - III

Film-obsessed City
Description
Write a query to find the city which generated the maximum revenue for the organisation.



Sample Output

city

Abu Dhabi

ans:
    
use upgrad;

select City
from city
inner join address
using (city_id)
inner join customer
using (address_id)
inner join payment
using (customer_id)
group by city
order by sum(amount) desc
limit 1;

# Graded Questions - IV

Analysis of Movie Categories
Description
Write a query to find out how many times a particular movie category is rented. Arrange these categories in the decreasing order of the number of times they are rented.

ans:
    
use upgrad;

select Name, count(rental_id) as Rental_count
from category
inner join film_category
using (category_id)
inner join film
using (film_id)
inner join inventory
using (film_id)
inner join rental
using (inventory_id)
group by name
order by Rental_count desc;

Science Fiction Enthusiasts
Description
Write a query to find the full names of customers who have rented sci-fi movies more than 2 times. Arrange these names in the alphabetical order.



Sample Output

Customer_name

MARY SMITH

ans:
    
use upgrad;

select concat(first_name, ' ', last_name) as Customer_name
from category
inner join film_category
using (category_id)
inner join film
using (film_id)
inner join inventory
using (film_id)
inner join rental
using (inventory_id)
inner join customer
using (customer_id)
where name = 'Sci-Fi'
group by Customer_name
having count(rental_id) > 2
order by Customer_name;

# Graded Questions - V

Movie Fans from Arlington
Description
Write a query to find the full names of those customers who have rented at least one movie and belong to the city Arlington.



Sample Output

Customer_name

MARY SMITH

ans:
    
use upgrad;

select concat(first_name, ' ', last_name) as Customer_name
from rental
inner join customer
using (customer_id)
inner join address
using (address_id)
inner join city
using (city_id)
where city = 'Arlington'
group by Customer_name;

Country-wise Analysis of Movies
Description
Write a query to find the number of movies rented across each country. Display only those countries where at least one movie was rented. Arrange these countries in the alphabetical order.

ans:
    

select Country, count(rental_id) as Rental_count
from rental
inner join customer
using (customer_id)
inner join address
using (address_id)
inner join city
using (city_id)
inner join country
using (country_id)
group by country
order by country;

In [ ]:
import jovian

In [2]:
jovian.commit()

[jovian] Updating notebook "ashutoshgole18/module-11-introduction-to-mysql-graded-questions" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/ashutoshgole18/module-11-introduction-to-mysql-graded-questions

'https://jovian.ai/ashutoshgole18/module-11-introduction-to-mysql-graded-questions'